/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1, h2 {
  color: #2c3e50;
}

/* Download Link Section */
#download-link-container {
  text-align: center;
  margin: 20px 0;
}

/* OCR Download Link Section */
#ocr-download-link-container {
  text-align: center;
  margin: 20px 0;
}

#download-link2 {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px; /* Add spacing for mobile */
  display: inline-block; /* Ensures margin-top applies correctly */
}

#download-link:hover {
  background-color: #2980b9;
}

/* Toggle switch container */
#toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#toggle {
  margin: 0 10px;
  transform: scale(1.2);
}

/* Translator section */
.translator {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.translator-input, .translator-output {
  flex: 1;
  min-width: 300px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
}

/* Translation table styles */
#translationTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#translationTable th, #translationTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#translationTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#translationTable th {
  background-color: #2c3e50;
  color: white;
}

/* About section */
#about-section {
  margin-top: 40px;
  text-align: center;
}

#download-link2 {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px; /* Add spacing for mobile */
  display: inline-block; /* Ensures margin-top applies correctly */
}

#ocr-link-container {
  text-align: center;
  margin-top: 20px;
}

#ocr-link {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#ocr-link:hover {
  background-color: #2980b9;
}
